name: Robot Framework CI
on:
#  push:
#    branches:
#      - master
#  pull_request:
  workflow_dispatch:
jobs:
    Run-Test:
      runs-on: ubuntu-latest
      permissions:
        contents: read
        pages: write
        id-token: write
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
        - name: Docker build
          run: docker build -t grstest .
        - name: Create reports folder
          run: |
            mkdir ./reports
            chmod -R 777 ./reports
        - name: Docker run
          run: docker run -v ./reports:/reports grstest
        - name: Convert XML to JSON
          uses: actions/setup-node@v2
          with:
            node-version: '20'
        - name: Install dependencies
          run: npm install xml2json
        - name: Run conversion script
          run: node convert.js
        - name: Publish JSON results
          uses: actions/upload-artifact@v2
          with:
            name: robot-test-results-json
            path: ./reports/output.json
        - name: Publish test results
          uses: actions/upload-artifact@v2
          with:
            name: robot-test-results
            path: ./reports/*

