name: Robot Framework CI
on:
#  push:
#    branches:
#      - master
#  pull_request:
  workflow_dispatch:
jobs:
    Run-Test:
      runs-on: ubuntu-latest
      permissions:
        contents: read
        pages: write
        id-token: write
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
        - name: Docker build
          run: docker build -t grstest .
        - name: Create reports folder
          run: |
            mkdir $GITHUB_WORKSPACE/reports
            chmod -R 777 /reports
        - name: Docker run
          run: docker run -v $PWD/reports:/reports grstest
          #run: docker run grstest
#        - uses: actions/cache@v2
#          id: cache
#          with:
#              path: ~/.cache/pip
#              key: ${{ runner.os }}-pip-${{ hashFiles('**/requirement.txt') }}
#        - name: Install pip dependencies
#          run: |
#            pip install --upgrade pip
#            pip install -r requirements.txt
#        #- name: Run Test
#        #  run: python -m robot --outputdir results Tests/
#        - name: Run Test and create report
#          run: python -m robot -d reports -x junit-report.xml "Tests/"
#        - name: Run Robot Framework tests and generate report
#          run: |
#            echo "ROBOT_RC=$?" >> "$GITHUB_ENV"

        - name: Publish test results
          uses: actions/upload-artifact@v2
          with:
            name: robot-test-results
            path: $PWD/reports/*